iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}

#content {
  margin: auto;
  width: 100%;
  background: url('../res/loading/iframe-loader.gif') no-repeat center center;
  background-size: cover;
  background-color: rgb(18, 29, 37);
  height: calc(100% - 186px);
  opacity: 1;
}

#open-in-browser {
  background: rgb(18, 29, 37);
  color: white;
  height: 75px;
  width: 100%;
  text-align: center;
  line-height: 75px;
  display: block;
  vertical-align: middle;
  text-decoration: none;
  transition: 1s;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#open-in-browser:hover {
  color: rgb(18, 29, 37);
  background-color: white;
}
