iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#content {
  margin: auto;
  width: 80%;
  background: url('../res/loading/iframe-loader.gif') no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  height: 100%;
  background-color: rgb(18, 29, 37);
  height: calc(100% - 225px);
}
