html {
  height: 100%;
}

body {
  background-color: rgb(28, 39, 47);
  background: url('../res/backgrounds/hilltop2.jpg') no-repeat center center fixed;
  color: white;
  background-size: cover;
  margin: 0;
  height: 100%;
}

button {
  cursor: pointer;
}

#content {
  margin-top: 50px;
}

#school-name-header {
  display: inline-block;
  vertical-align: middle;
}

#school-name-header h3 {
  color: gray;
}

#logo-container {
  width: 100px;
  height: 75px;
  background-color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

#header {
  height: 75px;
}

#header h1 {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
  background-color: rgb(25, 25, 112);
  height: 75px;
  width: calc(100% - 120px);
  margin: 0;
  line-height: 75px;
}

#feature-links {
  margin: auto;
  width: 100%;
  text-align: center;

}

#feature-links a {
  width: 190px;
  height: 70px;
  line-height: 70px;
  margin: 4px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}

.feature-links-category-name {
  background: rgba(18, 29, 37, 0.5);
  display: block;
  margin: 20px auto;
  padding: 10px;
}

.primary-button-theme {
  background-color: rgb(25, 25, 112);
  border: 1px dashed white;
  color: white;
  transition: 1s;
}

.primary-button-theme:hover {
  background: rgb(0, 0, 72);
}

#back {
  height: 75px;
  width: 100px;
  text-align: center;
  line-height: 75px;
  display: inline-block;
  vertical-align: middle;
  color: rgb(18, 29, 37);
  text-decoration: none;
  background-color: white;
  transition: 1s;
}

#back:hover {
  background: rgb(18, 29, 37);
  color: white;
}

#window-bar {
  text-align: right;
  line-height: 36px;
  height: 36px;
  background: rgb(28, 39, 47);
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#window-controllers {
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

#window-controllers button {
  background: transparent;
  font-size: 20px;
  line-height: 0;
  color: rgb(97, 108, 117);
  border: none;
  transition: 1s;
  width: 36px;
  height: 36px;
  -webkit-app-region: no-drag;
  padding: 0;
  display: inline-block;
}

#window-controllers button:hover, #help:hover, #settings:hover {
  background: rgb(18, 29, 37);
}

#help {
  background: transparent;
  font-size: 20px;
  line-height: 0;
  height: 36px;
  width: 60px;
  color: rgb(97, 108, 117);
  border: none;
  transition: 1s;
  padding: 0;
  -webkit-app-region: no-drag;
}

.window-bar-button-separator {
  height: 20px;
  margin: 0;
  display: inline;
  border: none;
  border-right: 1px solid rgb(97, 108, 117);
}

#settings {
  background: transparent;
  font-size: 20px;
  line-height: 0;
  height: 36px;
  color: rgb(97, 108, 117);
  border: none;
  transition: 1s;
  padding: 0;
  width: 90px;
  -webkit-app-region: no-drag;
}

#settings-overlay {
  position: fixed;
  margin: auto;
  background: rgba(28, 39, 47, 0.5);
  width: 100%;
  height: 100%;
}

#settings-box {
  background: rgb(28, 39, 47);
  height: 400px;
  width: 400px;
  margin-left: calc(50% - 200px);
  margin-top: 200px;
  border-radius: 30px;
}

#settings-title {
  margin: 20px 0 5px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.setting-title {
  margin: 0 0 10px;
}

.setting {
  display: inline-block;
  margin: 20px;
}

.user-type-option {
  margin-left: 20px;
}

.user-type-label {
  margin-left: 15px;
  font-size: 24px;
  vertical-align: middle;
}

#settings-buttons {
  text-align: center;
}

.settings-button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}

.settings-button:hover {
  color: grey;
}
