body {
  background-color: midnightblue;
  background-image: url('../res/backgrounds/hilltop2.jpg');
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  background-color: white;
  height: 1px;
  border: none;

}

#school-name-header {
  display: inline-block;
  vertical-align: middle;
}

#school-name-header h3 {
  color: gray;
}

#logo {
  vertical-align: middle;
}

#header {
  background-color: rgba(25, 25, 112, 0.75);
  padding: 10px;
}

#feature-links {
  margin: auto;
  margin-top: 50px;
  width: 200px;
}

#feature-links a {
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(25, 25, 112, 0.75);
  border: none;
  color: white;
  margin: 4px;
  display: block;
  text-align: center;
  text-decoration: none;
}

#back {
  height: 50px;
  width: 100px;
  text-align: center;
  line-height: 50px;
  display: block;
  color: midnightblue;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  position: relative;
}
