#reminders {
   list-style-type: none;
   padding: 0;
}

.reminder, #add-reminder {
    margin: 10px;
    width: 220px;
    padding: 25px;
    height: 120px;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.reminder {
    background: midnightblue;
    border: 1px dashed white;
}

#add-reminder {
    width: 272px;
    height: 272px;
    padding: 25px;
    font-size: 30px;
}

#add-reminder:disabled {
    background: grey;
}

#add-reminder:disabled:hover {
    background: grey;
    color: white;
    border: 1px dashed white;
}

.reminder input {
    margin: 7px;
    width: 200px;
    height: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: none;
}

.reminder input:disabled {
    background: none;
    color: white;
    font-size: 17px;
}

.reminder select {
    background: rgba(255, 255, 255, 0.8);
    border: none;
}

.reminder select:disabled {
    background: none;
    border: none;
    color: lightgrey;
}

.set-reminder, .remove-reminder {
    border: none;
    background: none;
    color: white;
    text-decoration: underline;
}

.set-reminder:hover, .remove-reminder:hover {
    color: grey;
}
