#schedule-items {
  background-color: rgb(25, 25, 112);
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px dashed white;
  list-style-type: none;
  font-size: 24px;
  padding: 10px;
}

.schedule-item-title {
  border: none;
  background: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}

.change-schedule-title {
  border: none;
  background: transparent;
  color: white;
  padding: 0;
  text-decoration: underline;
  margin: 10px;
}

.change-schedule-title:hover {
  color: grey;
}

.schedule-item {
  text-align: center;
  margin: 10px auto 10px auto;
}

.schedule-item form {
  width: 200px;
  margin: auto;
  display: inline-block;

}

.schedule-item span {
  width: 350px;
  display: inline-block;
  text-align: left;
}
